{
    "extends": ["stylelint-config-standard-scss"],
    "rules": {
        "indentation": [
            4,
            {
                "baseIndentLevel": 1
            }
        ],
        "declaration-empty-line-before": [
            "never",
            {
                "ignore": ["after-comment", "after-declaration"]
            }
        ]
    }
}
